html {
    font-size: 22px;
}

body {
    background-color: whitesmoke;
    color: black;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active {
    color: #eee;
}
body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

hr { color: rgb(214, 9, 204);
    max-width: 200vh;
    max-height: 900px;


}